:root {
  /* background */
  --c-dark: #141D2D;
  --c-light: #fff;
  --c-accent: #FF6B08;

  --c-dark-blue: #253045; 
  --c-grey-blue: #4A5771;
  --c-grey-light: #F1F2F2;
  --c-grey: #BCC1D2;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4F5B70;
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);

  /* font */
  --font-main: 'Acrom', sans-serif;

  /* container width */
  --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1146px + var(--vertical-scroll));
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/acrom/Acrom-Bold.eot');
	src: local('Acrom Bold'), local('Acrom-Bold'),
		url('../fonts/acrom/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/acrom/Acrom-Bold.woff') format('woff'),
		url('../fonts/acrom/Acrom-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/acrom/Acrom-Regular.eot');
	src: local('Acrom Regular'), local('Acrom-Regular'),
		url('../fonts/acrom/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/acrom/Acrom-Regular.woff') format('woff'),
		url('../fonts/acrom/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Acrom';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.container {
  min-width: var(--mobile);
  max-width: 100%;
  width: 100%;
  padding: 10px;
  margin: auto;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: var(--c-dark);
  min-height: 4rem;
}
/* =============== nav ======================== */

.header-menu {
  width: 100%;
  background: var(--c-dark);
}

.header-menu .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10px;
}

.header-menu-burger-button {
  display: flex;
  align-items: center;
}

.hire-me-button {
  text-transform: uppercase;
  color: var(--txt-c-accent);
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin-right: 20px;
  padding: 0;
}


.burger-btn {
  background: var(--c-accent);
  color: var(--c-light);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  font-size: 14px;
  padding: 8px;
}

/* =============== #nav-menu ================== */
.nav-menu {
  width: 100%;
  min-height: 585px;
  text-align: center;
  font-family: var(--font-main);
  position: absolute;
  z-index: 100;
  background-color: #fff;
}
.nav-menu__item {
  margin-bottom: 35px;
}
.nav-menu__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-grey);
}


/* ============= front-page ================ */

.my-name {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  margin: 15px auto 10px auto;
}

.profession {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
  margin: 0 10px 20px 10px;
}

.profession-description {
  color: var(--txt-c-light);
  text-align: center;
  margin: 20px auto 30px auto;
  line-height: 150%;
  font-size: 17px;
}

.front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accent-button {
  display: block;
  background: var(--c-accent);
  padding: 13px 18px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: auto;
  font-weight: bold;
  font-size: 15px;
}

.menu-navigation {
  display: none;
}

/* =========== About =========== */

.about {
  background: var(--c-dark);
}

.about-button {
  padding: 20px 30px;
  margin: 0 auto 30px auto;
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-photo {
  width: 40%;
  min-width: 110px;
  margin: auto;
}

.about-me-photo-desktop {
  display: none;
}

.about-me-text {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  margin: 18px auto;
  color: var(--txt-c-light);
  text-transform: uppercase;
}

.about-me-text-desktop {
  display: none;
}

.play-button {
  border: 2px solid var(--c-accent);
  color: var(--txt-c-accent);
  padding: 12px 40px;
  display: flex;
  align-items: center;
}

.play-button-icon {
  height: 10px;
  margin-right: 7px;
}

.play-button-text {
  text-transform: uppercase;
  font-weight: bold;
}

/* =========== Coding experience =========== */

.coding-experience {
  margin: 40px auto;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  margin: auto;
}

.coding-experience-title {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
  line-height: 140%;
  margin-bottom: 30px;
}

.laptop-image {
  text-align: center;
  margin: 0 auto 40px auto;
}

.laptop-image-desktop {
  display: none;
}

.coding-level-container {
  display: flex;
  color: var(--txt-c-light);
  margin-bottom: 20px;
}

.coding-level {
  margin-right: 15px;
}

.coding-level .coding-level-light {
  width: 7px;
  color: var(--c-light);
}
.coding-level .coding-level-accent {
  width: 7px;
  color: var(--c-accent);
}

.coding-level-text {
  font-size: 16px;
}

/* =========== My description =========== */

.my-description {
  background: var(--c-light);
}

.my-description-content-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.my-description-title-primary {
  width: 85%;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  align-self: flex-start;
  margin-bottom: 20px;
}

.my-description-title-secondary {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  align-self: flex-start;
  color: var(--txt-c-light);
  margin: 0;
}

.my-description-title-secondary span {
  background: var( --c-dark);
  padding: 5px;
}

.my-description-title-secondary-desktop {
  display: none;
}

.web-apps-container {
  position: relative;
  align-self: center;
}

.web-apps-image {
  position: absolute;
  left: -40px;
  top: 50px;
  width: 235px;
}

.web-apps-image-text {
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  writing-mode: tb-rl;
  margin: auto;
}

.completed-projects-bar-container {
  display: none;
}

.my-description-text {
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 30px;
}

/* =========== Personal projects =========== */

.personal-projects {
  background: var( --c-dark);
  padding: 0;
}

.project-details-button {
  margin: 0 0 30px 0;
}

.personal-projects-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.personal-projects-gallery {
  margin-bottom: 30px;
}

.project-item-bgd {
  background-color: var(--c-dark-blue);
  border-radius: 5px;
  padding: 18px 0 0 0;
}

.project-image {    
  width: 100%;
}

.project-dots {
  margin: 0 0 18px 18px;
  display: flex;
}

.project-dots .project-dot-accent {
  color: var(--c-accent);
  width: 7px;
  height: 7px;
  display: block;
  margin-right: 7px;
}

.project-dots .project-dot {
  color: var(--c-grey-blue);
  width: 7px;
  height: 7px;
  display: block;
  margin-right: 7px;
}

.project-item-technology {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 23px 0;
}

.project-item-technology p {
  margin: 0;
}

.project-item-technology-icon {
  margin-right: 7px;
  color: var(--c-accent);
}

.project-item {
  font-size: 17px;
  color: var(--txt-c-light);
  margin: 0 auto 23px auto;
  border-bottom: 1px solid var(--c-grey-blue);
  width: calc(100% - 40px);
}

/* =========== Teamwork projects =========== */


.team-projects {
  background: var(--c-light);
  padding: 0;
  overflow: hidden;
}

.team-projects-gallery {
  margin-bottom: 30px;
}

.team-projects-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-dark);
  position: relative;
  z-index: 1;
}

.team-projects-container {
  position: relative;
}

.team-projects-title-bgd {
  position: absolute;
  top: -45px;
  left: 55px;
  z-index: 0;
  color: var(--txt-c-grey);
  font-size: 150px;
  margin: auto;
  font-weight: bold;
  opacity: 0.1;
}

.team-project-item-technology-text {
  color: var(--txt-c-dark);
}

.team-projects-show-more-btn {
  color: var(--c-accent);
  border: 2px solid var(--c-accent);
  padding: 14px;
  width: 100%;
  margin-bottom: 40px;
}

/* =========== Feedback form =========== */
.feedback-form {
  background: var(--c-dark);
  margin-bottom: 60px;
}

.feedback-form-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.feedback-form-description {
  text-align: center;
  color: var(--txt-c-light);
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  margin: 0 20px 30px 20px;
}

.feedback-form-input-container {
  display: flex;
  flex-direction: column;
}

.feedback-form-input {
  background: var(--c-dark);
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  font-size: 17px;
  color: var(--txt-c-light);
  border-bottom: 1px solid var(--c-grey-blue);
}

.feedback-form-input::placeholder {
  color: var(--c-grey-blue);
  opacity: 1;
}

.feedback-form-input-phone {
  padding-left: 25px;
}

.feedback-form-submit-btn {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  padding: 15px 18px;
  background: var(--c-accent);
  text-transform: uppercase;
  color: var(--txt-c-light);
  white-space: nowrap;
  margin: 10px 0 30px 0;
  width: 100%;
}

.feedback-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =========== Caltulate project =========== */

.calculate-project {
  padding: 40px 0 0 0;
  background: var(--c-dark);
}

.calculate-project-title {
  color: var(--txt-c-light);
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 15px;
}

.calculate-project-cost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculate-project-title-desktop {
  display: none;
}

.calculate-project-text-container {
  width: 600px;
}

.calculate-project-desc {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.calculate-project-desc span {
  background: var(--c-accent);
  padding: 4px 0;
}

.calculate-project-img {
  width: 180px;
  margin: 20px 0;
}

.calculate-project-explanation {
  color: var(--txt-c-light);
  text-align: center;
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 30px;
}

/* =========== Cost form =========== */

.cost-form {
  padding: 30px 20px;
  margin: 0 0 50px 0;
  background: var(--txt-c-light);
}

.cost-form-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin-top: 0;
}

.cost-form-select {
  width: 100%;
  background: var(--c-light);
  border: none;
  outline: none;
}

.cost-form-select-container {
  border-bottom: 1px solid var(--c-grey);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.cost-form-total-container {
  margin: 27px auto;
}

.cost-form-total-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
}

.cost-form-total-sum {
  font-size: 36px;
  line-height: 150%;
  margin: 0;
  font-weight: bold;
}

.cost-form-question-1 {
  margin-bottom: 20px;
}

.cost-form-question-variant {
  margin-right: 10px;
}

.const-form-submit-btn {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  padding: 15px 18px;
  background: var(--c-accent);
  text-transform: uppercase;
  color: var(--txt-c-light);
  white-space: nowrap;
  margin: 0;
  width: 100%;
}

/* =========== Footer =========== */

.footer-contacts {
  background: var(--c-light);
  padding-top: 20px;
}

.footer-contacts-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  margin: 0;
}

.footer-contacts-profession {
  line-height: 150%;
  margin: 0 0 20px 0;
}

.footer-contacts-number {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  margin: 0 0 15px 0;
  display: block;
}

.footer-contacts-mail {
  margin: 0;
}

.footer-contacts-column {
  text-align: center;
}

.social-links {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 30px 0;
}

.social-link-item {
  font-size: 25px;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .container {
    min-width: var(--tablet);
    max-width: var(--desktop);
    padding: 10px 20px;
  }

  .my-name {
    font-size: 36px;
    line-height: 43px;
  }

  .profession {
    font-size: 55px;
    line-height: 66px;
  }

  .profession-part-2 {
    margin-left: 80px;
  }

  .profession-description {
    width: 388px;
  }

  .coding-experience {
    margin-bottom: 70px;
  }

  .about-button {
    padding: 20px 100px;
  }

  .about-me {
    flex-direction: row;
    justify-content: center;
  }

  .about-me-info-container {
    align-items: flex-start;
    margin-left: 36px;
  }

  .about-me-photo {
    width: 140px;
    margin: 0;
  }

  .about-me-text {
    margin: 0 0 18px 0;
  }

  .about-me-text-mobile {
    display: none;
  }

  .about-me-text-desktop {
    display: block;
  }

  .laptop-image {
    width: 350px;
  }

  .my-description {
    padding-bottom: 130px;
  }

  .my-description-title-primary {
    width: 95%;
    font-size: 50px;
    line-height: 60px;
  }

  .my-description .container {
    align-items: flex-start;
    position: relative;
  }

  .my-description-title-secondary {
    font-size: 36px;
    line-height: 43px;
    width: 550px;
  }

  .my-description-title-secondary-mobile {
    display: none;
  }
  
  .my-description-title-secondary-desktop {
    display: block;
    margin-bottom: 40px;
  }

  .web-apps-container {
    position: absolute;
    right: 80px;
    bottom: -65px;
    z-index: 0;
  }

  .web-apps-image-text {
    font-size: 200px;
    line-height: 240px;
  }

  .web-apps-image {
    width: 360px;
    left: -115px;
    top: 60px;
  }

  .my-description-text {
    z-index: 1;
    width: 57%;
  }

  .personal-projects-title {
    align-self: flex-start;
    text-align: left;
    font-size: 50px;
    line-height: 60px;
  }

  .personal-projects-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .team-projects-title {
    text-align: left;
    font-size: 50px;
    line-height: 60px;
    width: 60%;
  }

  .team-projects-container {
    align-self: flex-start;
  }

  .team-projects-title-bgd {
    left: 50px;
    font-size: 200px;
    line-height: 240px;
    top: -65px;
  }

  .feedback-form-title {
    width: 386px;
    font-size: 36px;
    line-height: 43px;
  }

  .feedback-form-description,
  .feedback-form-input,
  .feedback-form-submit-btn {
    width: 350px;
  }

  .calculate-project-title {
    text-align: left;
    margin: 0;
    align-self: flex-start;
  }

  .calculate-project-desc {
    align-self: flex-start;   
  }

  .cost-form {
    width: 600px;
  }

  .calculate-project-title {
    font-size: 50px;
    line-height: 60px;
  }

  .calculate-project-title-mobile {
    display: none;
  }

  .calculate-project-title-desktop {
    display: block;
  }

  .calculate-project-desc {
    width: 530px;
    align-self: flex-start;
    text-align: left;
    font-size: 36px;
    line-height: 150%;
  }

  .calculate-project-cost-container {
    flex-direction: row;
    position: relative;
    align-self: flex-start;
    width: 100%;
  }

  .calculate-project-explanation {
    text-align: left;
    width: 330px;
    z-index: 1;
  }

  .calculate-project-img {
    width: 320px;
    position: absolute;
    right: 16px;
    top: -55px;
    z-index: 0;
  }

  .cost-form {
    z-index: 1;
    padding: 60px 80px;
  }

  .footer-contacts-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
  }

  .footer-contacts-column {
    text-align: left;
  } 

  .social-links {
    align-self: flex-start;
    width: 200px;
    margin: 0;
  }
}

@media only screen and (min-width: 920px) {
  .container {
    min-width: var(--desktop);
    max-width: var(--desktop-lg);
  }

  .my-name {
    align-self: flex-start;
    margin: 0 10px 15px 80px;
  }

  .profession {
    text-align: left;
    font-size: 70px;
    line-height: 84px;
    z-index: 1;
    margin: 0 auto 20px auto;
  }

  .profession-description {
    text-align: left;
    z-index: 1;
  }

  .front-page {
    position: relative;
  }

  .about-me-photo {
    width: 226px;
    position: absolute;
    z-index: -1;
    right: 22px;
    top: -70px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .profession-part-1 {
    margin-left: 30px;
  }

  .front-page:hover > .about-me-photo {
    opacity: 1;
  }

  .about-me-photo-mobile {
    display: none;
  }

  .about-me-photo-desktop {
    display: block;
  }

  .about-button {
    padding: 20px 90px;
    z-index: 1;
  }

  .about-me-info-container {
    align-items: flex-end;
  }

  .about-me-text {
    text-align: right;
  }

  .burger-btn {
    display: none;
  }

  .play-button {
    padding: 12px 25px;
  }

  .laptop-image-mobile {
    display: none;
  }

  .laptop-image-desktop {
    display: block;
  }

  .laptop-image {
    position: absolute;
    top: 140px;
    right: 0;
    z-index: 0;
  }

  .menu-navigation {
    display: flex;
    align-items: center;
    margin-left: 80px;
  }

  .menu-navigation-item {
    display: block;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: var(--txt-c-grey);
    text-transform: uppercase;
    margin-right: 34px;
  }

  .menu-navigation-item:last-child {
    margin-right: 0;
  }

  .about .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 20px 120px 20px;
  }

  .coding-experience {
    order: 1;
    margin: 0;
    flex: 1;
  }

  .experience-container {
    margin: 0;
  }

  .coding-experience-title {
    text-align: left;
  }

  .front-page {
    order: 2;
    flex: 2;
  }

  .my-description .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .my-description-text {
    width: 400px;
  }

  .my-description-content-container {
    position: relative;
  }

  .web-apps-container {
    position: absolute;
    top: 50px;
    z-index: 0;
  }

  .completed-projects-bar-container {
    display: block;
  }

  .completed-projects-bar {
    width: 160px;
    height: 465px;
    background: var(--c-accent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 50px;
  }

  .completed-projects-count {
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;
    color: var(--txt-c-light);
    margin: 0;
  }

  .my-description-title-primary {
    width: 60%;
  }

  .about-me {
    justify-content: flex-end;
    order: 3;
    flex: 1;
    position: relative;
  }

  .about-me .my-photo {
    display: none;
  }

  .project-item {
    margin-bottom: 50px;
    width: calc(50% - 25px);
  }

  .project-item:nth-child(odd) {
    margin-right: 40px;
  }

  .team-projects-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .feedback-form {
    background: var(--c-light);
  }

  .feedback-form .container {
    /* max-width: var(--desktop-lg); */
    background: var(--c-dark);
    margin: auto;
  }

  .feedback-form-input-container {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .feedback-form-description {
    width: 100%;
  }

  .feedback-form-input {
    width: 260px;
  }

  .feedback-form-input {
    margin-right: 40px;
  }

  .feedback-form-input:last-child {
    margin-right: 0;
  }

  .calculate-project {
    padding: 140px 0;
  }

  .calculate-project .container {
    flex-direction: row;
  }

  .calculate-project-text-container {
    width: auto;
    align-self: flex-start;
    width: calc(100% - 386px - 40px);
    margin-right: 40px;
  }

  .cost-form {
    padding: 40px 50px;
    width: 386px;
    margin-bottom: 0;
  }

  .calculate-project-explanation {
    max-width: 380px;
    width: auto;
  }

  .footer-contacts .container {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .footer-contacts-row {
    width: calc(50% + 190px /2);
  }

  .social-links {
    align-self: center;
  }

}