:root {
  /* background */
  --c-dark: #141D2D;
  --c-light: #fff;
  --c-accent: #FF6B08;

  --c-dark-blue: #253045; 
  --c-grey-blue: #4A5771;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4F5B70;
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);

  /* font */
  --font-main: 'Acrom', sans-serif;

  /* breakpoint */
  --vertical-scroll: 20px;
  --mobile: calc(320px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(1168px + var(--vertical-scroll));

}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/acrom/Acrom-Bold.eot');
	src: local('Acrom Bold'), local('Acrom-Bold'),
		url('../fonts/acrom/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/acrom/Acrom-Bold.woff') format('woff'),
		url('../fonts/acrom/Acrom-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Acrom';
	src: url('../fonts/acrom/Acrom-Regular.eot');
	src: local('Acrom Regular'), local('Acrom-Regular'),
		url('../fonts/acrom/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/acrom/Acrom-Regular.woff') format('woff'),
		url('../fonts/acrom/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Acrom';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.container {
  max-width: var(--tablet);
  width: 100%;
  padding: 10px;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: var(--c-dark);
  min-height: 4rem;
}
/* =============== nav ======================== */

.header-menu {
  width: 100%;
  background: var(--c-dark);
}

.header-menu .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10px;
}

.hire-me {
  text-transform: uppercase;
  color: var(--txt-c-accent);
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

/* =============== #nav-menu ================== */
.nav-menu {
  width: 100%;
  min-height: 585px;
  text-align: center;
  font-family: var(--font-main);
  position: absolute;
  z-index: 100;
  background-color: #fff;
}
.nav-menu__item {
  margin-bottom: 35px;
}
.nav-menu__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-grey);
}


/* ============= front-page ================ */

.front-page .my-name {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  margin: 15px auto 10px auto;
}

.front-page .profession {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
  margin: 0 10px 20px 10px;
}

.front-page .profession-description {
  color: var(--txt-c-light);
  text-align: center;
  margin: 20px auto 30px auto;
  line-height: 150%;
}

/* ============= #burger-button ================ */
.burger-btn {
  --s: 30px;
  width: var(--s);
  height: var(--s);
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--c-accent);
  border: none;
  outline: none;
  cursor: pointer;
}
.burger-btn__line {
  --s: 2px;
  height: var(--s);
  width: 10px;
  position: relative;
  left: 0;
  margin-bottom:  var(--s);
  transition: all .4s ease-in-out;
  background-color: var(--c-light);
}
.burger-btn__bottom {
  margin-bottom: 0;
}
.burger-btn__top--click,
.burger-btn__center--click,
.burger-btn__bottom--click {
  transform-origin: center;
  transition: all .4s ease-in-out;
}
.burger-btn__top--click {
  transform: translatey(200%) rotate(45deg) scale(1.5);
}
.burger-btn__bottom--click {
  transform: translatey(-200%) rotate(-45deg) scale(1.5);
}
.burger-btn__center--click {
  transform: rotatey(90deg) scale(1.5);
}

/* =========== #end #burger-button ============= */

/* =========== Front page =========== */

.front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =========== About =========== */

.about {
  background: var(--c-dark);
}

.about-button {
  display: block;
  background: var(--c-accent);
  padding: 20px 30px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 auto 30px auto;
  font-weight: bold;
  font-size: 15px;
}

.about-me {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-photo {
  width: 40%;
  min-width: 110px;
  margin: auto;
}

.about-me-text {
  font-weight: bold;
  font-size: 15px;
  margin: 18px auto;
  color: var(--txt-c-light);
  text-transform: uppercase;
}

.play-button {
  border: 2px solid var(--c-accent);
  color: var(--txt-c-accent);
  padding: 12px 40px;
  display: flex;
  align-items: center;
}

.play-button-icon {
  height: 10px;
  margin-right: 7px;
}

.play-button-text {
  text-transform: uppercase;
  font-weight: bold;
}

/* =========== Coding experience =========== */

.coding-experience {
  margin: 40px auto;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 29%;
}

.coding-experience-title {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
  line-height: 140%;
  margin-bottom: 30px;
}

.coding-experience-image {
  text-align: center;
  margin: 0 auto 40px auto;
}

.coding-level-container {
  display: flex;
  color: var(--txt-c-light);
  margin-bottom: 20px;
}

.coding-level {
  margin-right: 15px;
}

.coding-level .coding-level-light {
  width: 7px;
  color: var(--c-light);
}
.coding-level .coding-level-accent {
  width: 7px;
  color: var(--c-accent);
}

.coding-level-text {
  font-size: 16px;
}

/* =========== My description =========== */

.my-description {
  background: var(--c-light);
}

.my-description-title-primary {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  align-self: flex-start;
}

.my-description-title-secondary {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  align-self: flex-start;
  color: var(--txt-c-light);
}

.my-description-title-secondary span {
  background: var( --c-dark);
}

.web-apps-container {
  position: relative;
}

.web-apps-container-laptop {
  position: absolute;
  left: -60px;
  top: 70px;
  width: 235px;
}

.web-apps-container-text {
  height: 390px;
}

.my-description-text {
  font-size: 17px;
  line-height: 150%;
  margin-bottom: 30px;
}

/* =========== Projects =========== */

.projects {
  background: var( --c-dark);
  padding: 0 10px;
}

.projects-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.projects-gallery {
  margin-bottom: 30px;
}


.project-item-bgd {
  background-color: var(--c-dark-blue);
  border-radius: 5px;
  padding: 18px 0 0 0;
}

.project-image {    
  width: 100%;
}

.project-dots {
  margin: 0 0 18px 18px;
}

.project-dots .project-dot-accent {
  color: var(--c-accent);
  width: 7px;
}

.project-dots .project-dot {
  color: var(--c-grey-blue);
  width: 7px;
}

.project-item-technology {
  display: flex;
  align-items: center;
  width: 100%;
}

.project-item-technology-icon {
  margin-right: 7px;
  color: var(--c-accent);
}

.project-item {
  font-size: 17px;
  color: var(--txt-c-light);
  margin-bottom: 23px;
}

.project-gallery-more-details {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  padding: 15px 18px;
  background: var(--c-accent);
  text-transform: uppercase;
  color: var(--txt-c-light);
  white-space: nowrap;
}

.project-gallery-buttons {
  display: flex;
  align-items: center;
}

.project-gallery-hire-me {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  margin-left: 22px;
  white-space: nowrap;
}

/* =========== Footer =========== */

footer {
  background: var(--c-light);
}